<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=#{global_head_title_show(${multitenant.identifier})})">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"><!-- required for FF3 and Opera --></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"><!-- required for FF3 and Opera --></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="500">
<div id="header" class="navbar navbar-fixed-top navbar-inverse" th:replace="fragments/header :: init-header">Header Goes Here</div>
<div class="container">
  <div class="row">
  <div class="span9">
    <section>
        <page:show id="ps_org_cateproject_domain_registry_Tenant" object="${multitenant}" path="/registry/tenant" z="uhw9JdU5C/ibFkUqqyfetDwvwz4=">
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_title',value=${multitenant.title})">Tenant Title Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_identifier',value=${multitenant.identifier})">Tenant Identifier Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_databaseUsername',value=${multitenant.databaseUsername})">Tenant Database Username Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_databasePassword',value=${multitenant.databasePassword})">Tenant Database Password Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_databaseUrl',value=${multitenant.databaseUrl})">Tenant Database Url Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_adminEmail',value=${multitenant.adminEmail})">Tenant Admin Email Field</div>
          <div th:replace="fragments/form :: display(id='org_cateproject_multitenant_domain_tenant_ownerEmail',value=${multitenant.ownerEmail})">Tenant Owner Email Field</div>
        </page:show>
    </section>
  </div>
  </div>
  </div>
</body>
</html>