<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=#{entity_create(#{label_org_cateproject_domain_taxon})})">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"><!-- required for FF3 and Opera --></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"><!-- required for FF3 and Opera --></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="500">
<div id="header" class="navbar navbar-fixed-top navbar-inverse" th:replace="fragments/header :: header">Header Goes Here</div>
<div class="container">
  <div class="row">
    <div class="span12">
	  <th:block th:if="${error != null}">
		<div th:replace="fragments/alert :: alert(id='error_alert_id',cssClass='alert-error',iconClass='icon-warning-sign',title=#{alert_error_title},message=${error}, alert=null)">Error Alert</div>
	  </th:block>
	</div>
  </div>
  <div class="row">
  <div class="span12">
    <section>
    <form id="create_org_cateproject_domain_Taxon"  name="create_org_cateproject_domain_Taxon" class="form form-horizontal" action="list.html" th:action="@{/edit/taxon}" th:object="${result}" method="post">
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_creator',field='creator')">Creator Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_taxonid',field='taxonId')">TaxonId Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_scientificname',field='scientificName')">Scientific Name Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_scientificnameid',field='scientificNameID')">Scientific Name ID Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_namepublishedinyear',field='namePublishedInYear')">Name Published In Year Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_higherclassification',field='higherClassification')">Higher Classification Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_kingdom',field='kingdom')">Kingdom Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_phylum',field='phylum')">Phylum Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_clazz',field='clazz')">Class Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_order',field='order')">Order Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_family',field='family')">Family Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_genus',field='genus')">Genus Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_subgenus',field='subgenus')">Subgenus Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_specificepithet',field='specificEpithet')">Specific Epithet Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_infraspecificepithet',field='infraspecificEpithet')">Infraspecific Epithet Field</div>
      <div th:replace="fragments/form :: select(id='org_cateproject_domain_taxon_taxonrank',field='taxonRank', items=${ranks})">Taxon Rank Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_verbatimtaxonrank',field='verbatimTaxonRank')">Verbatim Taxon Rank Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_scientificnameauthorship',field='scientificNameAuthorship')">Scientific Name Authorship Field</div>
      <div th:replace="fragments/form :: select(id='org_cateproject_domain_taxon_nomenclaturalcode',field='nomenclaturalCode', items=${nomenclaturalcodes})">Nomenclatural Code Field</div>
      <div th:replace="fragments/form :: select(id='org_cateproject_domain_taxon_taxonomicstatus',field='taxonomicStatus', items=${taxonomicstatuses})">Taxonomic Status Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_taxonremarks',field='taxonRemarks')">Taxon Remarks Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_parentnameusage',field='parentNameUsage')">Parent Name Usage Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_acceptednameusage',field='acceptedNameUsage')">Accepted Name Usage Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_originalnameusage',field='originalNameUsage')">Original Name Usage Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_namepublishedin',field='namePublishedIn')">Name Published In Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_nameaccordingto',field='nameAccordingTo')">Name According To Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_accessrights',field='accessRights')">Access Rights Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_created',field='created')">Created Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_modified',field='modified')">Modified Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_license',field='license')">License Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_rights',field='rights')">Rights Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_rightsholder',field='rightsHolder')">Rights Holder Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_contributor',field='contributor')">Contributor Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_bibliographiccitation',field='bibliographicCitation')">Bibliographic Citation Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_namepublishedinstring',field='namePublishedInString')">Name Published In String Field</div>
      <div th:replace="fragments/form :: text(id='org_cateproject_domain_taxon_dataset',field='dataset')">Dataset Field</div>
      <div th:replace="fragments/form :: select(id='org_cateproject_domain_taxon_nomenclaturalstatus',field='nomenclaturalStatus', items=${nomenclaturalstatuses})">Nomenclatural Status Field</div>
      <div class="submit"	id="fc_org_cateproject_multitenant_domain_Tenant_submit">
		<input class="btn btn-primary" id="proceed" type="submit"	value="Save" th:value="#{button_save}"/>
      </div>      
        </form>
    </section>
  </div>
  </div>
  </div>
</body>
</html>
