<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=#{entity_show(#{label_org_springframework_batch_core_jobexecution})})">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"><!-- required for FF3 and Opera --></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"><!-- required for FF3 and Opera --></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="500">
<div id="header" class="navbar navbar-fixed-top navbar-inverse" th:replace="fragments/header :: header">Header Goes Here</div>
<header class="page-header">
  <div class="container">
    <div class="row">
      <h1 id="page-title" class="span8">
        <i class="glyphicons-icon cogwheels"><!----></i> <span th:text="#{entity_show(#{label_org_springframework_batch_core_jobexecution})}">Show JobExecution</span>
      </h1>
	</div>
  </div>
</header>
<div class="container">
  <div class="row">
  <div class="span12">
    <section>
    <form id="show_org_springframework_batch_core_JobExecution"  name="show_org_springframework_batch_core_JobExecution" class="form form-horizontal" th:object="${result}">
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_id',field='id')">Id Field</div>
      <div th:replace="fragments/form :: displayLink(id='org_springframework_batch_core_jobexecution_jobinstance',field='id', link='/batch/instance/' + ${result.jobInstance})">Id Field</div>
      <div th:replace="fragments/form :: displayLink(id='org_springframework_batch_core_jobexecution_jobname',field='jobName', link='/batch/job/' + ${result.jobName})">Name Field</div>
      <div th:replace="fragments/form :: displayText(id='org_springframework_batch_core_jobexecution_jobparameters',field='jobParameters')">Parameters Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_startdate',field='startDateTime')">Id Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_duration',field='duration')">Id Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_status',field='status')">Id Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_exitcode',field='exitCode')">Id Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_exitdescription',field='exitDescription')">Id Field</div>
      <div th:replace="fragments/form :: display(id='org_springframework_batch_core_jobexecution_stepexecutioncount',field='stepExecutionCount')">Id Field</div>
     </form>
    </section>
    <section>
      <table class="log">
        <thead>
          <tr>
            <th>Start</th>
            <th>Message</th>
            <th>Duration</th>
            <th>Reads</th>
            <th>Writes</th>
            <th>Commits</th>
            <th>Rollbacks</th>
            <th>Exit Code</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="step : ${result.stepExecutions}">
            <td th:text="${step.startDateTime}">2018-10-23 08:12:29.998</td>
            <td th:text="${step.message}">Fetching resource</td>
            <td th:text="'in ' + ${step.duration}">PT2S</td>
            <td th:text="${step.readCount}">1</td>
            <td th:text="${step.writeCount}">1</td>
            <td th:text="${step.commitCount}">1</td>
            <td th:text="${step.rollbackCount}">1</td>
            <td th:text="${step.exitCode}">SUCCESS</td>
            <td th:text="${step.exitDescription}">Exit Description</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  </div>
  </div>
  <script  th:inline="javascript">
    /*[+

    var url = '/batch/execution/' + [[${result.id}]];

    +]*/
    function doPoll(){
      $.getJSON(url, function(data) {
        console.log(data);
        setTimeout(doPoll,2000);
      });
    }

    $(document).ready(function(){
      doPoll();
    });
  </script>
</body>
</html>
