<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="span12">
			<form action="#" method="post">
				<div th:fragment="text (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" for="_${id}_id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	id="${id}_id" type="text" th:field="*{__${field}__}" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
				<div th:fragment="display (id, value)" class="control-group">
					<label class="control-label" for="_${id}_id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
					  <span class="uneditable-input" th:text="${value}">Value</span>
					</div>
				</div>
				<div th:fragment="password (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" for="_${id}_id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	id="${id}_id" type="password" th:field="*{__${field}__}" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>