<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="span12">
			<form action="#" method="post">
				<div th:fragment="text (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	th:id="__${id}___id" type="text" th:field="*{__${field}__}" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
				<div th:fragment="file (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	th:id="__${id}___id" type="file" th:field="*{__${field}__}" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
				<div th:fragment="display (id, field)" class="control-group">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<span th:id="__${id}___id" class="uneditable-input" th:text="*{__${field}__}" />
					</div>
				</div>
				<div th:fragment="select (id, field, items)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<select	th:id="__${id}___id" th:field="*{__${field}__}" th:errorclass="error">
						  <option th:each="item : ${items}" th:value="${item}" th:text="${item}">Item Text</option>
						</select>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
				<div th:fragment="password (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	th:id="__${id}___id" type="password" th:field="*{__${field}__}" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
					</div>
				</div>
				<div th:fragment="checkbox (id, field)" class="control-group" th:classappend="${#fields.hasErrors(field)}? error">
					<label class="control-label" th:for="__${id}___id" th:text="#{'label_' + ${id}}">Field Label: </label>
					<div class="controls">
						<input	th:id="__${id}___id" type="checkbox" th:field="*{__${field}__}" data-toggle="toggle" th:errorclass="error"/>
						<p th:if="${#fields.hasErrors('__${field}__')}" class="help-block" th:errors="*{__${field}__}">Field Error</p>
						<p th:unless="${#fields.hasErrors('__${field}__')}" class="help-block" th:text="${@messageSource.getMessage('__${id}___help','','',__${springRequestContext.getLocale()}__)}">Field Help</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
