<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"><!-- required for FF3 and Opera --></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"><!-- required for FF3 and Opera --></script>
</head>
<body>
    <div th:fragment="init-header" id="header" class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a th:href="@{/}" class="brand" th:name="#{button_home}" th:title="#{button_home}"> 
				  <span th:text="${#themes.code('tenant_name')}">Tenant Name</span>
				</a>
			</div>
		</div>
    </div>
	<div th:fragment="header" id="header" class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a th:href="@{/}" class="brand" th:name="#{button_home}" th:title="#{button_home}"> 
				  <span th:text="${#themes.code('tenant_name')}">Tenant Name</span>
				</a>
				<a class="btn btn-navbar pull-left" data-toggle="collapse" data-target="&#35;primary-nav">
				  <span class="icon-bar"><!--  --></span>
				  <span class="icon-bar"><!-- --></span>
				  <span class="icon-bar"><!-- --></span>
				</a>
				<div id="primary-nav" class="nav-collapse">
				  <ul class="nav">
						<li class="dropdown" id="menuIdentify">
						  <a href="#menuIdentify" class="dropdown-toggle" data-toggle="dropdown" th:text="#{identify.title}"> 
						    Identify
						    <b class="caret"><!-- --></b>
						  </a>
						  <ul class="dropdown-menu">
								<!--  <ff4j:enable featureid="key">-->
								  <li th:if="${#themes.code('primary_key') != 0}">
									<a th:href="@{/key/#themes.code('primary_key')}" th:text="${#themes.code('primary_key_title')}"> Primary Key Title</a>
								</li>
								<!--</ff4j:enable>-->
								<!--<ff4j:enable featureid="search">-->
									<li><a th:href="@{/explore?filterQuery=base.class_s:org.cateproject.domain.IdentificationKey}" th:text="#{search.for.keys}">Search For Keys</a></li>
									<li><a th:href="@{/explore?filterQuery=base.class_s:org.cateproject.domain.Image}" th:text="#{browse.images}">Browse Images</a></li>
									<li><a th:href="@{/explore?filterQuery=base.class_s:org.cateproject.domain.Term}" th:text="#{glossary}">Glossary</a></li>
								<!--</ff4j:enable>-->
							</ul>
					    </li>
						<!--<ff4j:enable featureid="classify.tree">-->
							<li>
							  <a th:href="@{/classification}" th:text="#{classify.title}"> Classify</a>
							</li>
						<!--</ff4j:enable>-->
						<li class="dropdown" id="menuExplore">
						  <a href="#menuExplore" class="dropdown-toggle" data-toggle="dropdown" th:text="#{explore.title}">Explore 
							<b class="caret"><!-- --></b>
						  </a>
						  <ul class="dropdown-menu">
								<!--<ff4j:enable featureid="search">-->
									<li>
									  <a th:href="@{/explore}" th:text="#{search}"> <i class="icon-search"><!--  --></i>&#160;Search</a>
									</li>
								<!--</ff4j:enable>-->
								<!--<ff4j:enable featureid="search.map">-->
									<li><a th:href="@{/spatial}" th:text="#{map.search}"> <i class="icon-globe"><!--  --></i>&#160;Map Search</a></li>
								<!--</ff4j:enable>-->
								<!--<ff4j:enable featureid="search.analyse">-->
									<li> <a th:href="@{/analyse}" th:text="#{explore.data}"> <i class="icon-signal"><!--  --></i>&#160;Explore Data</a></li>
								<!--</ff4j:enable>-->
						  </ul>
					  </li>
					</ul>
					<ul class="nav">
						<!--<ff4j:enable featureid="login">-->
							<li sec:authorize="!isAuthenticated()" class="dropdown" id="signin_menu">
							      <a href="../login.html" th:href="@{/login}" ><span th:text="#{signin_or_signup}">Sign-in or Sign Up</span></a></li>	
							<li sec:authorize="isAuthenticated()" class="dropdown" id="user_menu">
								  <a href="#user_menu" class="dropdown-toggle" data-toggle="dropdown"> 
								    <i class="icon-cog icon-white"><!--  --></i>&#160;
								    <span sec:authentication="principal.username">Principal Username</span> 
								    <b class="caret"><!-- --></b>
								  </a>
									<ul class="dropdown-menu">
										<!--<ff4j:enable featureid="home.page">-->
											<li><a th:href="@{/home}">
											  <i class="icon-home"><!-- --></i>&#160;<span th:text="#{user_account_label}">Home</span>
											</a></li>
										<!--</ff4j:enable>-->
										<!--<ff4j:enable featureid="edit">-->
											<li sec:authorize="hasRole('PERMISSION_EDIT')"><a th:href="@{/edit}" href="../edit/show.html"><i class="icon-pencil"><!--  --></i>&#160;<span th:text="#{edit_label}">Edit</span></a></li>
										<!--</ff4j:enable>-->
										<!--<ff4j:enable featureid="administrate">-->
											<li sec:authorize="hasRole('PERMISSION_ADMINISTRATE')"><a th:href="@{/admin}" href="../admin/show.html"><i class="icon-wrench"><!--  --></i>&#160;<span th:text="#{admin_label(${#themes.code('tenant_name')})}">Administrate CATE</span></a></li>
										<!--</ff4j:enable>-->
										<!--<ff4j:enable featureid="registry">-->
											<li sec:authorize="hasRole('PERMISSION_CONFIGURE_TENANTS')"><a th:href="@{/multitenant/}" href="../multitenant/list.html"><i class="icon-wrench"><!--  --></i>&#160;<span th:text="#{superuser_label}">Configure Tenants</span></a></li>
										<!--</ff4j:enable>-->
										<li><a th:href="@{/logout}"> <i class="icon-off"><!--  --></i>&#160;<span th:text="#{logout}">Logout</span></a></li>
									</ul></li>
						<!--</ff4j:enable>-->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	</div>
</body>
</html>